.info-box {
    color: black;
}

h1 {
    color:black;
}

.info-box-pictures {
    width: 20%;
    margin-left:10px;
}

.picture-section {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .gm-style-iw, .gm-style-iw-c {
    max-width: 50%;
} */
