.infoBox {
    color: black;
}

h1 {
    color:black;
}

.infoBoxPictures {
    width: 25%;
    margin-left:10px;
}

.pictureSection {
    display: flex;
    align-items: center;
    justify-content: center;

}

.gm-style-iw, .gm-style-iw-c {
    max-width: 300px;
}
