
.title {
  color: black;
}

.app {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form-map-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.map-placeholder {
  width: 70vw;
  height: 70vh;
}

.pothole-picture {
  max-width: 40%;
}

button {
  cursor: pointer;
}