/* .pothole {
    background: #E0DADA;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 10px #808080;
    border-radius: 10px;
}

.photo-preview {
    border-radius: 7px;
    margin: 10px;
    
    /* max-height: 90%; */


/* .pictures {
    max-width: 80%;
    /* height: 20%; */
    


