header {
  width: 100%;
  padding: 2rem;
  background-color: white;
  margin-bottom: 3rem;
}

.title {
  color: black;
}

.app {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-map-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.map-placeholder {
  width: 50vw;
  height: 50vh;
}

.pothole-picture {
  max-width: 40%;
}
